{% extends "base.html" %} {% block content %}
<div class="mt-5">
	<div class="card shadow mx-auto" style="width: 300px;">
		<div class="card-header">
			<p class="text-center mb-0">Sign In</p>
		</div>
		<div class="card-body">
			<p class="text-muted">Welcome!</p>
			<form method="post" >
				{% csrf_token %}
				<div class="row">
					<div class="col-12">
						<input
							type="text"
							name="username"
							class="form-control"
							placeholder="username"
							autocomplete="off"
							required
						/>
					</div>
					<div class="col-12 mt-3">
						<input
							type="password"
							name="password"
							class="form-control"
							placeholder="password"
							autocomplete="off"
							required
						/>
					</div>
					<div class="col-12 d-grid mt-3">
						<button type="submit" class="btn btn-primary">
							Login
						</button>
					</div>
					<div class="col-12">
						<p class="mt-2 text-center opacity-75 small">
							Don't have an account?
							<a href="/signup">Sign Up!</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
