<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Task App</title>
</head>
<body>
    <div class="container-sm mt-5">
        <h1 class="display-3">Todo App</h1>
        <hr>
        <div class="card p-3 shadow">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-0">
                    <input type="text" name="task_name" class="form-control" placeholder="new task..." autocomplete="off">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
        <hr>
        <ul class="list-group shadow">
        {% for task in tasks %}
        <li class="list-group-item {% if task.done_at != None %} list-group-item-success {% endif %}">
            <div class="row p-0 align-items-center">
                <div class="col-9">
                    <a class="list-group-item-action fs-5" href="">
                        {{ task.name }}
                    </a>
                    <br>
                    <small class="text-muted ps-3">Hace {{ task.created_at | timesince }}</small>
                    {% if task.done_at != None %}
                    <small class="text-muted ps-3">&check; Completado hace {{ task.done_at | timesince }}</small>
                    {% endif %}
                </div>
                <div class="col-3 text-end">
                    {% if task.done_at == None %}
                    <a class="btn btn-sm btn-success fw-bold" href="/done/{{ task.id }}">&check;</a>
                    {% endif %}
                    <a class="btn btn-sm btn-danger fw-bold" href="">&times;</a>
                </div>
            </div>
            
        </li>
        {% endfor %}
        </ul>
</body>
</html>