<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Task App</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Taskapp</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <div class="navbar-expand">
                        <a href="profile/" class="btn btn-link">
                            {{ request.user.first_name | title }}
                        </a>
                        <a href="logout/" class="btn btn-outline-danger">
                            Logout
                        </a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="d-block" style="height: 40px;"></div>
    </header>
    <div class="container-sm mt-5">
        <h1 class="display-3">Todo App</h1>
        <hr>
        <div class="card p-3 shadow">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-0">
                    <input type="text" name="task_name" class="form-control" placeholder="new task..." autocomplete="off">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
        <hr>
        <ul class="list-group shadow">
        {% for task in tasks %}
        <li class="list-group-item {% if task.done_at != None %} list-group-item-success {% endif %}">
            <div class="row p-0 align-items-center">
                <div class="col-9">
                    <a class="list-group-item-action fs-5" href="">
                        {{ task.name }}
                    </a>
                    <br>
                    <small class="text-muted ps-3">Hace {{ task.created_at | timesince }}</small>
                    {% if task.done_at != None %}
                    <small class="text-muted ps-3">&check; Completado hace {{ task.done_at | timesince }}</small>
                    {% endif %}
                </div>
                <div class="col-3 text-end">
                    {% if task.done_at == None %}
                    <a class="btn btn-sm btn-success fw-bold" href="/done/{{ task.id }}">&check;</a>
                    {% endif %}
                    <a class="btn btn-sm btn-danger fw-bold" href="">&times;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% if task.user %}
                    {{ task.user.first_name | title }}
                    {% endif %}
                </div>
                <div class="col-6">
                    ---
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>